@import './custom.css';
@import './custom2.scss';

.test2meeting{
    border:2px solid green;
    margin: 5px;
}

.modal-backdrop {
    z-index:1050;
}

.MuiTable-root > tbody > tr:hover > td {
    background-color: rgba(255, 255, 191, 0.5);
    cursor: default;
}
