
.loginfield{
    margin:auto 10px !important;
}
.loginfield .MuiOutlinedInput-input{
    padding: 12px 8px !important;
    line-height: 2;
}
.loginfield .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(-14px, 14px) scale(1);
    pointer-events: none;
}
.MuiButton-text {
    padding: 6px 8px;
    margin: 10px;
}
.test3meeting{
    border-radius: 5px;
}
.parentMenu{
    font-size: 13px;
    font-weight: 500;
    color: #d0e5ff;
}
.menucol{
    background-color: #4f526d;
    padding:35px 20px;
}
.menucol h4 {
    font-size: 1.5rem;
    color: #e4eaef;
}
.menucol a{
    color: white;
    transition: 0.3s all;
    font-size: 11px;
    font-weight: 400;
}
.menucol a:hover{
    color: rgb(24, 24, 24);
}
.menucol .menulink {
    padding: 5px;
    margin: 5px 0;
    //border-bottom: 1px solid #acadb7;
    display: inline-block;
}
.parentMenu{
    list-style: none;
}
.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25c0";
    color: #d9eaff;
    display: inline-block;
    margin-left: 6px;
    font-size: 10px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
@media (min-width: 1024px)
{
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%;
        height: 100%;
}
}
.loginbtn{
    background-color: #53eab8 !important;
}
.logoutbtn{
    background-color: #de3078f2 !important;
}
.row{
    height: 100%;
}